In [4]:
from expense_tracker import AnnualTracker, MonthlyTracker
from misc import execute_tracker_month
from types_definition import *

In [5]:
# Create annual tracker class
annual = AnnualTracker(2022)

# Get all the monthly trackers created
for month in range(1,13):
    # clear previous month tracker
    track = None
    
    # execute_tracker_month(index, print_tables, print_results, print_graphs) Prints set to False by default
    execute_tracker_month(annual.year, month, print_results=True)
    
    # saves even Nones so that index == month
    if track is not None:
        if track.year == annual.year: # just checking
            annual.add(track)

Incomes table

               Description     Type   Amount
0  Return from mom's shoes    Other    30.00
1           ICARUS Payroll  Payroll  1454.53

Incomes table

                   Description     Type  Amount
0          Return thermometers    Other    15.0
1                 Return shoes    Other    50.0
2  Return wave motor and tests    Other    60.0
3               ICARUS Payroll  Payroll  1499.9

There is no ./2022/3_March.ipynb notebook.
There is no ./2022/4_April.ipynb notebook.
There is no ./2022/5_May.ipynb notebook.
There is no ./2022/6_June.ipynb notebook.
There is no ./2022/7_July.ipynb notebook.
There is no ./2022/8_August.ipynb notebook.
There is no ./2022/9_September.ipynb notebook.
There is no ./2022/10_October.ipynb notebook.
There is no ./2022/11_November.ipynb notebook.
There is no ./2022/12_December.ipynb notebook.

In [6]:
# Print totals
print('\033[1m' + "Results for {}:".format(annual.year) + '\033[0m')
print("The total amount earned is " + curr.format(annual.total_incomes()))
print("The total amount spent is " + curr.format(annual.total_expenses()))
# Print balance
print("The balance this year is " + curr.format(annual.balance()))
print("The total amount invested is " + curr.format(annual.total_investments()))
print("\n")

Results for 2022:
The total amount earned is 3109.43€
The total amount spent is 2257.18€
The balance this year is 342.25€
The total amount invested is 510.0€